
#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	background-color: #616936;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
.buttonStyle {
	border-radius: 4px;
	border: thin solid #616936;
	padding: 5px;
	background-color: #616936;
	font-family: "Segoe UI", black, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 75px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #F0F8FF;
	color: #996633;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #693F36;
	background-color: #693F36;
	color: #69364B  ;
	cursor: pointer;
}