#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large
	font-weight: bold;
	background-color: #020202;
	border-radius: 4px;
	padding: 5px;
	text-align: center;
}
.buttonStyle {
	border-radius: 4px;
	border: thin solid; #808080;
	padding: 10px;
	background-color: #FFFFFF;
	font-family: "Segoe UI", white, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #FF0000;
	width: 75px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #000000;
	color: #FBFAFA;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #FF0000;
	background-color: #693F36;
	color: #FF0000;
	cursor: pointer;
}

.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
  background-size: cover;
  color: #FF0000;
}
